In [3]:
import pandas as pd

In [4]:
dict_medidas = {'idade': [15, 18, 25, 25, 40,55, 58, 60, 80], 'altura': [160,162,165,168, 172, 174, 174, 174, 176]}

In [5]:
df_medidas = pd.DataFrame.from_dict(dict_medidas)

In [6]:
df_medidas

   idade  altura
0     15     160
1     18     162
2     25     165
3     25     168
4     40     172
5     55     174
6     58     174
7     60     174
8     80     176

## Medidas Resumo

### Medidas de Posição

In [7]:
# média
df_medidas["idade"].mean()

41.77777777777778

In [8]:
# mediana
df_medidas["idade"].median()

40.0

In [9]:
# moda
df_medidas["idade"].mode()

0    25
Name: idade, dtype: int64

### Medidas de dispersão

In [10]:
# Variância

df_medidas.idade.var()

509.94444444444446

In [11]:
# Desvio Padrão

df_medidas.idade.std()

22.58194952709895

In [12]:
# Coeficiente de variação - idade

df_medidas.idade.std() / df_medidas.idade.mean() * 100 # Valores em porcentagem

54.05253876167302

In [13]:
# Coeficiente de variação - altura

df_medidas.altura.std() / df_medidas.altura.mean() * 100 # Valores em porcentagem

3.4803552812368785

### Medidas de Forma

In [14]:
# Assimetria da idade
df_medidas.idade.skew()

0.368108517895537

In [15]:
# Assimetria da altura
df_medidas.altura.skew()

-0.598486996170113

In [16]:
# Curtose - idade
df_medidas.idade.kurtosis()

-1.1344461075421046

In [17]:
# Curtose - Altura
df_medidas.altura.kurtosis()

-1.3372641199913002

### Obter medidas estatísticas

In [18]:
### Obter medidas estatísticas
display(df_medidas['altura'].describe())

count      9.000000
mean     169.444444
std        5.897269
min      160.000000
25%      165.000000
50%      172.000000
75%      174.000000
max      176.000000
Name: altura, dtype: float64

### Correlação de variáveis

In [19]:
#Correlação dataframe
df_medidas.corr(method='pearson')

           idade    altura
idade   1.000000  0.931024
altura  0.931024  1.000000

In [20]:
#Correlação entre duas variáveis
df_medidas.idade.corr(df_medidas.altura)

0.9310236045054339